body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    /* background-image: url("/CSS/bgm-pics/p.png"); */
    align-items: center;
    background-size: cover;
    height: 100vh;
    box-shadow: red solid;
}

.FP-container {
    background:rgba(255, 255, 255, 0.288);
    padding: 40px;
    width:500px;
    height:600px;
    margin:60px auto;
    border-radius: 3px;
    box-shadow:0 4px 10px 4px grey;
}

.FP-container p {

    position: absolute;
    top: 25% ;
}

.FP-container h1{
    position: absolute;
    top: 28%;
    left: 44%;
    font-size: xx-large;
}


.FP-container label{

    font-size: 25px;
    font-weight: 500;
   
}

.FP-container input{

   width: 180%;
   height: 30px;
   font-size: 20px;
   border-radius: 2px;
   padding-left: 10px;
}

.FP-container .emailtab {
    position: absolute;
    top: 35%;
    
}

.FP-container .Newpassword {

    position: absolute;
    top: 42%;
    
}

.FP-container .confirmpassword {

    position: absolute;
    top: 49%;
    
}

.FP-container button {

    position: absolute;
    top: 60%;
    left: 47%;
    width: 170px;
    height: 40px;
}
