*{
  text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url("/CSS/bgm-pics/login13.jpg");
    align-items: center;
    background-size: cover;
    height: 100vh;
    backdrop-filter: blur(8px);
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.content .top_content{
  position: absolute;
  background-color:rgb(9, 106, 145);
  /* background-color:rgb(97, 94, 94); */
  width: 100%;
  height: 10% ;
  left: 0;
  top: 0;
  /* background-color: red; */
  text-align: center;
  
}

#HOME{

  position: absolute;
  top: 50%;
  left: 85%;
  font-size: 25px;
  font-weight: bolder;
  color: black;
  background-color: white;
  width: 4%;
  height:20%;
  padding: 10px;
  border-radius: 6px;
}

#HOME:hover {

  color: black;
  background-color: #f4f4f4;
}

#SIGNUP {

  position: absolute;
  top: 50%;
  left: 93%;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  background-color: red;
  width: 4%;
  height:20%;
  padding: 10px;
  border-radius: 6px;
}

#SIGNUP:hover {

  color: white;
  background-color: rgb(221, 6, 6);
}

.tab-content {
    background:rgba(255, 255, 255, 0.13);
    padding: 40px;
    width:600px;
    height:700px;
    margin:40px auto;
    border-radius: 9px;
    box-shadow:0 4px 10px 4px grey;
  }
  .tab-content #login{
    height: 100%;
    width: 100%;
  }
  
  .tab-content #login h1{
    text-align: center;
  }

  .tab-content .top-row {
    margin: 20px;
    padding: 5px;
  }
  
  form {
    height: 100%;
  }

  .tab-content label{
    font-size: 25px;
    margin-bottom: 80px;
    font-family:sans-serif;
    font-weight:500;
  }
   
  .tab-content input{
    border-radius:10px;
    width:99%;
    height:35px;
    border-color: rgba(0, 255, 64, 0.308);
    font-size: 20px;
    padding-left: 10px;
    
  }

 .tab-content #login .data2 i{
    font-size: 30px;
    position: absolute;
    top:482px;
    left: 1700px;
  }

  .tab-content #login .data3 i{
    font-size: 30px;
    position: absolute;
    top:584px;
    left: 1700px;
  }

  .tab-content #login .data4_F {
   
    position: absolute;
    top: 800px;
    left: 53%;
    font-size: 25px;

  }

  
  .tab-content #login .data4_F a:hover {

    color: red;
  }


 .tab-content #login .data4 button {
   margin-top: 50px;
    margin-left: 32%;
    width: 200px; 
    height: 50px;
    font-size: 20px;
    border-radius: 6px;
 }

 .tab-content #login .data4 button:hover{
  color: white;
  background-color: rgb(255, 0, 0);
}

 .tab-content #login .data4 input {
     position: absolute;
     top: 260%; 
     left: 25%;
     width: 50%;
     height: 80%;
     border-radius: 0;
     font-size: 30px;

 }


 
 
 .tab-content #login .data6 {

  position: absolute;
  top: 950px;
  left: 44%;
  height: 100px;
  width: 100%;
 }

 .tab-content #login .data6 span {

  color: orange;
  font-size: 30px;
 }

 .tab-content #login .data6  a {
  position: absolute;
  padding: 8px 30px;
  top: 26%;
  left: 10%;
  font-size: 25px;
  border-radius: 6px;
  color: white;
  background-color: red;


 }
 .tab-content #login .data6 a:hover {
  color: #f4f4f4;
  background-color: rgb(219, 4, 4);
 }

 #error{
  position: absolute;
  top: 24%;
  left: 45.5%;
  font-size: 25px;
  color:red;
}


#captcha {

  position: absolute;
  top: 48.5%;
  left: 47%;
  font-size: 30px;
  
}

#generateCaptchaBtn {

  position: absolute;
  top: 44%;
  left: 20%;
  width: 280px;
  height: 60px;
}

#userCaptcha {

  position: absolute;
  top: 53%;
  left: 45%;
  width: 280px;
  height: 60px;
  font-size: 25px;
  text-align: center;
}

#submit {

  position: absolute;
  top: 64%;
  left: 47%;
  width: 180px;
  height: 40px;
}

#submit:hover {

  color: white;
  background-color: blue;
}

.data6 p {

  position: absolute;
  top: 6%;
  left: 0;
  font-size: 30px;
 

}

#Fp {

  position: absolute;
  top: 65%;
  left: 55%;
 
}

#Fp a {
  color:red;
  font-size: 20px;
}

#Fp a:hover {
  color: red;
  text-decoration: underline;
}

#mainlogo {
    
  position: absolute;
  top: 25%;
  left: 1%;
  font-weight: bolder;
}

#mainlogo1 {

  width: 280px;
}

