
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    background-image: url("/CSS/bgm-pics/login8.png");
    align-items: baseline;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.DB .menu {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-top: 0.6%;
    font-size: 60px;
    background: #c20f0f;
    background-color: #f4f4f4;
    width: 100%;
    height: 60px;
    
}  

.DB .menu i:hover{
    cursor: pointer;
}


 .DB { 
    background:#f4f4f4;
    padding: 20px;
    width:300px;
    height:1500px;
    margin:60px auto; 
    margin-top: 2.5%;
    margin-left: 0;
    border-radius: 3px;
    box-shadow:0 4px 10px 4px grey;
    display: flex;
    flex-direction: column;

}

.DB h1{
    text-align: center;
}


.heading {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 3px 0;
    font-size: 15px;
    color: black;
    
    

}

.heading p {

    width: 100%;
}

.heading i{
    font-size: 35px;
    width: 40px;
    color: black;
    padding: 8px;
    margin-right: 15px;
}

.b_heading {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 3px 0;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.b_heading p {

    width: 100%;
}

.b_heading i{
    font-size: 35px;
    width: 40px;
    color: black;
    padding: 8px;
    margin-right: 15px;
} 


.option {
    display: flex;
    align-items: center;
    margin: 3px 0;
    transition: max-height 0.5s ;

}

.option.active{
      max-height: 400px;
      display: block;
      color: red;
}
.option.active a{
    color: red;
}

.setting.active {
    max-height: 400px;
    display: block;
}

.top_sub_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-left: 12px  ;
}

.top_sub_link p {
    font-size: 20px;
    width: 100%;
    font-weight: 600;
    color: black;
}

.top_sub_link i{
    font-size: 30px;
    width: 40px;
    color: black;
    padding: 8px;
    margin-right: 15px;
}

#shipmentid{

    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 12px  ;
    /* background-color: rgba(255, 0, 0, 0.658); */
    background-color: white;
    color: black;
    width: 100%;
    /* border-radius: 6px; */
    border: 2px solid;
    border-radius: 20px;
}

#shipmentid p {
    font-size: 20px;
    width: 100%;
    
    font-weight: 900;
}

#shipmentid i{
    /* font-size: 30px; */
    width: 40px;
    color: black;
    padding: 8px;
    margin-right: 15px;
    font-size: 40px ;
}


.sub_link {

    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 12px 0;
    
}

.sub_link p{
    font-size: 20px;
    width: 100%;
    font-weight: 600;
    color: black;
}

.sub_link i{
    
    font-size: 30px;
    width: 40px;
    color: black;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.top_sub_link span, .sub_link span{
    position: fixed;
    left: 10%;
    font-size: 22px;
    color: black;
    transition: transform 0.5s;

} 

.top_sub_link:hover span, .sub_link:hover span {

    transform: translateX(10px);

}

.top_sub_link:hover, .sub_link:hover {

    background-color: rgba(128, 128, 128, 0.089);
    width: 95%;
    border-radius: 6px;
}

#logout p{
    color: white;
}

.top_sub_link:hover p, .sub_link:hover p {
   
    font-weight: 900;
}

.top_sub_link:hover i, .sub_link:hover i {

    font-size: 40px ;
}

/* * nav bar closing styles */ 
/* Default styles for the sidebar, .DB, and .heading */
/* Default width for sidebar */
.DB {
    width: 300px;
    transition: width 0.3s ease; /* Smooth transition for width change */
  }
  
  /* Reduced width when .menuclose is added */
  .DB.menuclose {
    width: 100px;
    padding: 87px 0 0 20px;
    margin-top: 70px;
  }
  .DB.menuclose p,.DB.menuclose h1, .DB.menuclose span{
    display: none;
  }
  .DB.menuclose .option a,
  .DB.menuclose .setting a{
    display: none;
  }
  
  /* .DB.menuclose i{
    display: flex;
    flex-direction: column;

  }
   */
  
.DB.menuclose #logo {
    position: absolute;
    display: block;
    transition: transform 0.5s ease; /* Adding transition for smoother animation */
    transform: translate(3%, 0.7%); /* Center the logo */
    left: 3%; /* Position the logo at the horizontal center */
    top: 0.7%; /* Position the logo at the vertical center */
  
  }
 
  .DB.menuclose #shipmentid {

    background-color: white;
    color: black;
    width: 80%;
    border-radius: 6px;
  }



/* ////////////////////////// */
label {
    position: absolute;
    top: 20%;
    left: 44%;
    color: white;
    font-size: 60px;
    width: 500px;
    padding-left: 70px;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.445);
    border-top-right-radius: 1%;
    border-bottom-left-radius: 1%;

}

.input{
      
    position: absolute;
    top: 26%;
    left: 45%;
    
}

.input input {

    width: 300px;
    height: 40px;
    padding-left: 20px;
    font-size: x-large;
}

.input button {

    width : 200px;
    height: 50px;
    font-size: x-large;
    font-style:inherit;
}

.input button:hover{

    color: white;
    background-color: blue;
}
.container {
    position: absolute;
    top: 30%;
    left: 8%;
    font-size: x-large;
    width: 80%;
    text-align: center;
    background-color: rgba(128, 128, 128, 0);
    padding-left: 10%;
    border-top-right-radius: 1%;
    border-bottom-left-radius: 1%;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    white-space: nowrap; /* Prevent wrapping of contents */
}

.container .table-container {
    width: 100%; /* Ensure the table container takes full width */
    height: 730px; /* Set a maximum height for vertical scrolling */
    overflow-x: auto; /* Enable horizontal scrolling for the table */
    overflow-y: auto; /* Enable vertical scrolling for the table */
}


.container .table-container table {
    width: AUTO; /* Ensure the table takes full width */
    table-layout: fixed; /* Fix the table layout to prevent cell content from affecting column width */
}

.table-container tr th {
    padding: 20px;
    width: 400px; /* Adjust width of each cell as needed */
    white-space: nowrap; /* Prevent wrapping of cell contents */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow content */
 }

.container .table-container table thead {
    /* width: 300px; */
    height: 60px;
    padding: 20px ;
    color: white;
    background-color: red;

}

.container .table-container table tbody {
    color: white;
    background-color: rgba(128, 128, 128, 0.842);
   
}


.container .table-container p {

    color: red;
    position: absolute;
    top: 50%;
}

.sub_link1{
    background-color: red;
}

 
#mainlogo{
    
    position: absolute;
    top: 0.5%;
    left: 90%;
    font-weight: bolder;
  }
  
  #mainlogo1 {
  
    width: 70px;
  }

 #mainlogo2 {
    
     font-size: 20px;
     filter: grayscale(100%) brightness(0%);
  }

  .container .table-container table {
    width: 147%; /* Ensure the table takes full width */
    table-layout: fixed; /* Fix the table layout to prevent cell content from affecting column width */
}

.container .table-container table tbody tr td {
    width: auto; /* Adjust width of each cell as needed */
    padding: 20px;
    white-space: nowrap; /* Prevent wrapping of cell contents */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow content */
}

#error {
    position: absolute;
    top: 10%;
    left: 47%;
    font-size: 30px;
    color: #c20f0f;
}
