body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url("/CSS/bgm-pics/login13.jpg");
    backdrop-filter: blur(8px);
    align-items: center;
    background-size: cover;
    height: 100vh;
}

.content .top_content{
  position: absolute;
  background-color:rgb(9, 106, 145);
  /* background-color:rgb(97, 94, 94); */
  width: 100%;
  height: 10% ;
  left: 0;
  top: 0;
  /* background-color: red; */
  text-align: center;
  
}

#HOME{

  position: absolute;
  top: 50%;
  left: 85%;
  font-size: 25px;
  font-weight: bolder;
  color: black;
  background-color: white;
  width: 4%;
  height:20%;
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
}

#HOME:hover {

  color: black;
  background-color: #f4f4f4;
}

#LOGIN {

  position: absolute;
  top: 50%;
  left: 93%;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  background-color: blue;
  width: 4%;
  height:20%;
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
}

#LOGIN:hover {

  color: white;
  background-color: rgb(0, 0, 214);
}

.tab-content {
  background:rgba(255, 255, 255, 0.13);
  padding: 40px;
  width:600px;
  height:750px;
  margin:40px auto;
  border-radius: 9px;
  box-shadow:0 4px 10px 4px grey;
}
.tab-content #signup{
  height: 100%;
  width: 100%;
}

.tab-content #signup h1{
  text-align: center;
}

.tab-content .top-row {
  margin: 20px;
  padding: 5px;
}

form {
  height: 100%;
}

form input{
  font-size: 20px;
  padding-left: 10px;
}

.tab-content label{
  font-size: 25px;
  margin-bottom: 80px;
  font-family:sans-serif;
    font-weight:500;
}
 
.tab-content input{
  border-radius:10px;
  width:99%;
  height:35px;
  border-color: rgba(0, 255, 64, 0.308);
  
}

#REGISTER {

  position: absolute;
  top: 66%;
  left: 46%;
  padding: 15px 40px;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  background-color: red;
}

#REGISTER:hover {

  color: white;
  background-color:rgb(199, 7, 7);
}


.tab-content #signup .data i{
  font-size: 30px;
  position: absolute;
  top:455px;
  left: 1700px;
}

.tab-content #signup .data1 i{
  font-size: 30px;
  position: absolute;
  top:560px;
  left: 1700px;
}

.tab-content #signup .data2 i{
  font-size: 30px;
  position: absolute;
  top:665px;
  left: 1700px;
}

.tab-content #signup .data3 .pwd i{
  font-size: 30px;
  position: absolute;
  top:770px;
  left: 1700px;
}

.tab-content #signup .data3 .pwd2 i{
  font-size: 30px;
  position: absolute;
  top:880px;
  left: 1700px;
}



h2{
  position: absolute;
  top: 72%;
  left: 43%;
  color: orangered;
 
}
 #log {

  position: absolute;
  top: 72.5%;
  left: 52%;
  font-size: 20px;
  color: white;
  background-color: blue;
  text-decoration: none;
  padding: 13px 10px;
  border-radius: 7px;

 }

 #log:hover {

  color: white;
  background-color: rgb(5, 5, 189);
 }



.tab-content #signup .error_message{
  position: absolute;
  top:320px;
  left:1300px;
  font-size: 16px;
  color: red;
  animation:ease-out 0.2s;
}



.tab-content #signup .success_message{
  position: absolute;
  top:320px;
  left:1360px;
  font-size: 28px;
  color: green;
}


#mainlogo {
    
  position: absolute;
  top: 25%;
  left: 1%;
  font-weight: bolder;
}

#mainlogo1 {

  width: 280px;
}

