
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url("/CSS/bgm-pics/login13.jpg");
    align-items: center;
    background-size: cover;
    height: 100vh;
    box-shadow: red solid;
}
.update_container {

    background:rgba(255, 255, 255, 0.288);
    padding: 40px;
    width:500px;
    height:300px;
    margin:40px auto;
    border-radius: 3px;
    box-shadow:0 4px 10px 4px grey;
    position: absolute;
    top: 20%;
    left: 40%;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.update_container h1 {
 
   position: absolute;
   top: 14%;
   left : 27%;
}    

.update_container label {

    position: absolute;
    top: 33%;
    font-size: 20px;
    font-weight: 500;
}

.update_container input {

    width: 80%;
    height: 40px;
    position: absolute;
    top: 40%;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 8px;
}

.update_container #Save {
    position: absolute;
    top: 60%;
    left: 60%;
    width: 90px;
    height: 37px;
    font-size: 20px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #32CD32; /* Button color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */

}

#Save:hover {
    background-color: #1ea529; /* Darker button color on hover */
  }
  
  /* Change button color on click */
#Save:active {
    background-color: #00b30f; /* Even darker color when clicked */
}
.update_container p { 

    position: absolute;
    top: 65%;
    left: 35%;
    font-size: xx-large;
    text-decoration-line: none;
    background-color: red;
    width: 150px;
    color: white;
    padding-left: 10px;
    border-radius: 2px ;
}

/* Style the link to look like a button */
.button-link {
    position: absolute;
    top: 60%;
    left: 23%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Button color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  /* Change button color on hover */
  .button-link:hover {
    background-color: #0056b3; /* Darker button color on hover */
  }
  
  /* Change button color on click */
  .button-link:active {
    background-color: #004280; /* Even darker color when clicked */
  }

  /* //error */
  #error{
    position: absolute;
    top:4%;
    left: 35%;
    font-size: 23px;
    color: red;
    background-color: none;
}

